*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

section .book{
    position: relative;
    width: 383px;
    height: 567px;
    box-shadow: 25px 25px 25px rgba(5, 5, 5, 0.2);
    transform-style: preserve-3d;
    transition: 0.5s;
}

section .book:hover {
    transform: rotateY(30deg);
}

section .book:active {
    transform: rotateY(180deg);
}

section .book::before {
    /* height:100vh; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    transform-origin: left;
    background: url(side.jpg);
    background-position: center;
    transform: rotateY(90deg);
}

section .book::after {
    /* height:100vh; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: url(back.jpg);
    background-position: center;
    transform: rotateY(180deg) translateZ(60px);
}
section .book img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

